html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
    min-height: 100%;
    background-color: black;
    background-size: cover;
}

body > img:first-of-type {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    opacity: 0;
    transition: all 2s cubic-bezier(0.0, 0.0, 0.2, 1);
    transform: scale(.98);
}

body > img:first-of-type[data-loading=false] {
    opacity: .3;
    transform: scale(1);
}

.asteroid-list {
    color: white;
}
